
.limitar{
	clear: both;
	text-align:center;
}
.cates:hover{
	background-color: #f2f2f2;
	border:1px solid red;
}
/*Seccion de buscador*/
#buscador{
	width: 70%;
	margin-left: 10%;
	height: 26px;
	border-radius: 21px;
	background-color: #eff2f7;
	box-shadow: none;
	font-family: 'Mogra', cursive;
}
#buscar{
	border-radius: 18px;
	padding:7px 9px;
	background-color: #74a6f7;
}
#text{
	width:10%;
	float:left;
	padding: 15px 0;
	text-align:center;
}
#navegacion{
	background-color: #4357ad;
	/*debe analizarse*/padding-top:70px;
}
#cat{
	margin-left: 10%;	
}

#cat > a{
	display: inline-block;
	padding:15px 0;
	width:10.8%;
	text-align: center;
	text-decoration: none;
	color:white;
}
#cat> a:hover{
	background-color: #f2f2f2;
	color:black;
	font-family: 'Mogra', cursive;
}



#fin{
	border-bottom: 2px solid #1f2633;
}
#izq {
    float: left;
    width: 40%;
}

#miniconten {
    float: right;
    width: 60%;
    min-height: 400px;
    margin-bottom: 4px;
    margin-top: 4px;
    padding-bottom: 20px;
    padding-top: 20px;
}

#miniconten > h1 {
    text-align: center;
}

#miniconten > ul {
    background: #ffffff;
    border: 1px solid darkgrey;
    border-radius: 10px;
    width: 60%;
    margin: auto;
}


#miniconten > ul > li {
    list-style-type: none;
    margin-left: 0;
    padding: 5px;
    margin: 5px;
    font-size: 18px;
}
#boton {
    margin-left: 35%;
    background-color: #1E90FF;
    font-size: 22px;
    color: white;
    border: none;
    padding: 10px 10px;
    border-radius: 8px;
    cursor: pointer;
}