body {
	padding:0;
	margin:0;
}

#Cabecera{
	background-color: #242623;
	/*debe analizarse*/position:fixed;
	width:100%;
	left:0;
	z-index:4;/*cierre de debe analizarse*/
}
#Cabecera > #Izq{
	float:left;
	width:20%;
}
body{
	font-family: 'Nunito Sans', sans-serif;
}

#Cabecera > #Derecha{
	float:right;
	width:30%;
}

#Cabecera > #Centro{
	margin-left:20%;
	margin-right:30%;
}
/*División de estructura de Zona login y registrate*/

#logReg h3{
	font-size: 10px;
	display: inline-block;
}
#Cabecera > #Centro{
	padding:18px;
}

#logReg #unete , #entrar{
	border:1px dashed red;
	text-align: center;
	padding:7px 0;

}
#logReg #unete{
	float:left;
	
	width:50%;
}
#logReg #entrar{
	margin-left: 50%;
}
/*Seccion de buscador*/
#buscador{
	width: 70%;
	margin-left: 10%;
	height: 26px;
	border-radius: 21px;
	background-color: #eff2f7;
	box-shadow: none;
	font-family: 'Mogra', cursive;
}
#buscar{
	border-radius: 18px;
	padding:7px 9px;
	background-color: #74a6f7;
}
#text{
	width:10%;
	float:left;
	padding: 15px 0;
	text-align:center;
}
#navegacion{
	background-color: #4357ad;
	/*debe analizarse*/padding-top:70px;
}
#cat{
	margin-left: 10%;	
}

#cat > a{
	display: inline-block;
	padding:15px 0;
	width:10.8%;
	text-align: center;
	text-decoration: none;
	color:white;
}
#cat> a:hover{
	background-color: #f2f2f2;
	color:black;
	font-family: 'Mogra', cursive;
}


#piefin{
	padding:20px 0;
}

.limitar{
	clear: both;
	text-align:center;
}
.cates:hover{
	background-color: #f2f2f2;
	border:1px solid red;
}
#fin{
	border-bottom: 2px solid #1f2633;
}
#izq {
    float: left;
    width: 40%;
}

#miniconten {
    float: right;
    width: 60%;
    min-height: 400px;
    margin-bottom: 4px;
    margin-top: 4px;
    padding-bottom: 20px;
    padding-top: 20px;
}

#miniconten > h1 {
    text-align: center;
}

#miniconten > ul {
    background: #ffffff;
    border: 1px solid darkgrey;
    border-radius: 10px;
    width: 60%;
    margin: auto;
}


#miniconten > ul > li {
    list-style-type: none;
    margin-left: 0;
    padding: 5px;
    margin: 5px;
    font-size: 18px;
}