body {
	padding:0;
	margin:0;
}

/*nercto*/
#contacto{
	position:fixed;
	left:0;
	top:250px;
	z-index:2000;	
}
#contacto ul{
	list-style: none;
	padding:0;
}
#contacto ul li a{
	display:inline-block;
	color:white;
	background-color: black;
	padding:10px 15px;
	text-decoration: none;
}
#contacto ul li a:hover{
	background-color: #fff;
	color: black;
	padding: 10px 25px;
}


/*Editaremos el Header*/
/*División de estructura de header*/

#Cabecera{
	background-color: #242623;
	/*debe analizarse*/position:fixed;
	width:100%;
	left:0;
	z-index:4;/*cierre de debe analizarse*/
}
#Cabecera > #Izq{
	float:left;
	width:20%;
}
body{
	font-family: 'Nunito Sans', sans-serif;
}

#Cabecera > #Derecha{
	float:right;
	width:30%;
}

#Cabecera > #Centro{
	margin-left:20%;
	margin-right:30%;
}

/*División de estructura de Zona login y registrate*/

#logReg h3{
	font-size: 10px;
	display: inline-block;
}
#Cabecera > #Centro{
	padding:18px;
}

#logReg #unete , #entrar{
	border:1px dashed red;
	text-align: center;
	padding:7px 0;

}
#logReg #unete{
	float:left;
	
	width:50%;
}
#logReg #entrar{
	margin-left: 50%;
}

/*Seccion de buscador*/
#buscador{
	width: 70%;
	margin-left: 10%;
	height: 26px;
	border-radius: 21px;
	background-color: #eff2f7;
	box-shadow: none;
	font-family: 'Mogra', cursive;
}
#buscar{
	border-radius: 18px;
	padding:7px 9px;
	background-color: #74a6f7;
}
#text{
	width:10%;
	float:left;
	padding: 15px 0;
	text-align:center;
}
#navegacion{
	background-color: #4357ad;
	/*debe analizarse*/padding-top:70px;
}


.limitar{
	clear: both;
	text-align:center;
}
.cates:hover{
	background-color: #f2f2f2;
	border:1px solid red;
}